*~
.Rproj.user
*.html
*.pdf
*.docx
notrack/*
Week-1-Intro-Stats/Week-1-Slide-Deck-figure/*
Week-1-Intro-Stats/Week-1-Slide-Deck.md
Week-2-Explore-Data-Analysis/Week-2-EDA-SlideDeck-figure/*
Week-2-Explore-Data-Analysis/Week-2-EDA-SlideDeck.md
.Rhistory
.DS_Store
*/.DS_Store
*.Rproj
